attrs
bcrypt
certifi
cffi
chardet
click
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Login
flask-mongoengine
Flask-WTF
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
mongoengine
packaging
pluggy
py
pycparser
pymongo
pyparsing
pytest
python-dotenv
requests
six
toml
urllib3
Werkzeug
WTForms
Flask-Mail
gunicorn